api/.env

PankkiAutomaatti/exe/build/
PankkiAutomaatti/exe/*.user

PankkiAutomaatti/DLLPinCode/build/
PankkiAutomaatti/DLLPinCode/*.user

PankkiAutomaatti/DLLRestAPI/build/
PankkiAutomaatti/DLLRestAPI/*.user

PankkiAutomaatti/DLLSerialPort/build/
PankkiAutomaatti/DLLSerialPort/*.user
